.row
  - if devise_mapping.omniauthable?
    .small-6.columns
      = link_to omniauth_authorize_path(resource_name, :twitter), class: "button expand social-media twitter" do
        %i.fa.fa-twitter.fa-2x
          Sign in with Twitter
    .small-6.columns
      = link_to omniauth_authorize_path(resource_name, :google_oauth2), class: "button expand social-media google" do
        %i.fa.fa-google.fa-2x
          Sign in with Gmail
      %br/
