@import "foundation/functions";

.message {
  padding: 1em;
  margin: .5em 0;
  color: white;
}

.general {
  background: #3498db;
}

.chore {
  background: #e74c3c;
}

.event {
  background: #f1c40f;
}

.sharable {
  background: #2ecc71;
}

.previous-day, .next-day {
  color: black;
  padding: .25em;
  transition: background-color 0.5s ease;
  border-radius: 8px;
  &:hover {
    background: black;
    color: white;
    border-radius: 8px;
    transition: background-color 0.5s ease;
  }
}
