.message {
  padding: 1em;
  margin: .5em 0;
  color: white;
}

.general {
  background: #3498db;
}

.chore {
  background: #e74c3c;
}

.event {
  background: #f1c40f;
}

.sharable {
  background: #2ecc71;
}

