<p>Hey there!<p>

<p>
  In order to become a member of the  family,
  please first create an account on WhiteBoard by
</p>

<p>
  <%= link_to 'Join Family', family_invitation_url(@family_invitation) %>
</p>

<p>
  Have fun with using White Board!  We hope it makes your life easier
  and creates a better experience for you and the whole family.
</p>

