%footer.footer-2{:role => "contentinfo"}
  .footer-logo
  %ul
    %li
      = link_to 'About Us', root_path
    %li
      = link_to 'Contact', root_path
    %li
      = link_to 'Customer Service', root_path
  .footer-secondary-links
    %ul
      %li
        %a{:href => "javascript:void(0)"} &copy; White Board 2015
    %ul.footer-social
      %li
        %a{:href => "javascript:void(0)"}
          %img{:alt => "Facebook", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png"}/
      %li
        %a{:href => "javascript:void(0)"}
          %img{:alt => "Twitter", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png"}/
